<div id="<%= dom_id paciente %>">
  <p>
    <strong>Nome completo:</strong>
    <%= paciente.nome_completo %>
  </p>

  <p>
    <strong>Data nascimento:</strong>
    <%= paciente.data_nascimento %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= paciente.cpf %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= paciente.email %>
  </p>

</div>
