<p style="color: green"><%= notice %></p>

<h1>Pacientes</h1>

<div id="pacientes">
  <% @pacientes.each do |paciente| %>
    <%= render paciente %>
    <p>
      <%= link_to "Mostrar este paciente", paciente %>


    </p>
  <% end %>
</div>
<%= link_to "Novo paciente", new_paciente_path %>

<%= link_to "Voltar a Página inicial", root_path %>


