<div id="<%= dom_id consultum %>">
  <p>
    <strong>Data:</strong>
    <%= consultum.data %>
  </p>

  <p>
    <strong>Horário:</strong>
    <%= consultum.horario %>
  </p>

  <p>
    <strong>Médico:</strong>
    <%= Medico.find(consultum.medico_id).nome_completo %>
  </p>

  <p>
    <strong>Paciente:</strong>
    <%= Paciente.find(consultum.paciente_id).nome_completo %>
  </p>

</div>
