<%= form_with(model: consultum) do |form| %>
  <% if consultum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(consultum.errors.count, "error") %> prohibited this consultum from being saved:</h2>

      <ul>
        <% consultum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :data, style: "display: block" %>
    <%= form.date_field :data %>
  </div>

  <div>
    <%= form.label :horario, style: "display: block" %>
    <%= form.select(:horario, %w[08:00 08:30 09:00 09:30 10:00 10:30  11:00 11:30  14:00 14:30 15:00 15:30  16:00 16:30 17:00 17:30])%>
  </div>

  <div class="field">
    <%= form.label :medico_id %>
    <%= form.collection_select(:medico_id, Medico.all, :id, :nome_completo,{:selected => @consultum.medico_id})%>
  </div>

  <div class="field">
    <%= form.label :paciente_id %>
    <%= form.collection_select(:paciente_id, Paciente.all, :id, :nome_completo,{:selected => @consultum.paciente_id})%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
