<p style="color: green"><%= notice %></p>

<h1>Consultas Agendadas</h1>

<div id="consulta">
  <% @consulta.each do |consultum| %>
    <%= render consultum %>
    <p>
      <%= link_to "Mostrar essa consulta", consultum %>
    </p>
  <% end %>
</div>

<%= link_to "Voltar a Página inicial", root_path %>

<%= link_to "Nova consulta", new_consultum_path %>



