<p style="color: green"><%= notice %></p>

<%= render @medico %>

<div>
  <%= link_to "Editar Médico", edit_medico_path(@medico) %>
  <%= link_to "Voltar a lista de Médicos", medicos_path %>
  <%= link_to "Voltar a Página inicial", root_path %>

  <%= button_to "Deletar Médico", @medico, method: :delete %>
</div>
